#top {
    height: 100vh;
    background-image: url('img/topbg.png');
    background-size: cover;
    background-repeat: no-repeat;
}
#top header {
    display: flex;
    align-items: center;
    height: 15vh;
    border-bottom: 1px solid #7d7d7d;

}
.logo-box {
    width: 79px;
    height: 76px;
    margin-left: 214px;
}
.blue, .white {
    width: 67px;
    height: 67px;
    position: relative;
}
.blue {
    z-index: 2;
    background-color: #11749e;
    font-size: 30px;
    color: #f5f5f5;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    line-height: 67px;
}
.white {
    bottom: 58px;
    left: 12px;
    z-index: 1;
    background-color: #fff;
}
#top nav {
    display: flex;
    justify-content: space-between;
    width: 659px;
    margin-left: 243px;
}
#top nav a {
    display: inline-block;
    height: 115px;
    line-height: 115px;
    box-sizing: border-box;
    font-size: 20px;
    color: #ffffff;
    font-family: "Myriad Pro", sans-serif;
    text-align: center;
}
#top nav a:hover {
    border-bottom: 6px solid #11749e;
}
.socials {
    display: flex;
    justify-content: space-between;
    width: 141px;
    margin-left: 54px;
}
.socials i {
    font-size: 20px;
    letter-spacing: -1px;
    color: #f5f5f5;
    text-align: center;
    cursor: pointer;
}
#top-wrapper {
    display: flex;
    flex-direction: column;
    height: 85vh;
    justify-content: space-evenly;
}
#top-text h1 {
    width: 820px;
    font-size: 153px;
    letter-spacing: -8px;
    color: #f5f5f5;
    font-weight: bold;
    font-family: "Gotham", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#top-text h4 {
    height: 20px;
    font-size: 25px;
    letter-spacing: 19px;
    line-height: 51px;
    color: #11749e;
    font-weight: 500;
    font-family: "Gotham", sans-serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#top-scroll {
    margin-left: auto;
    margin-right: auto;
}
#top-scroll h6 {
    font-size: 13px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    margin-bottom: 21px;
}
#scroll {
    width: 65px;
    height: 65px;
    border-radius: 32px;
    background-color: rgba(128,128,128,0);
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#scroll i {
    font-size: 20px;
    letter-spacing: -1px;
    color: #f5f5f5;
    text-align: center;
}
